#tabs {
  background-color: #33658a;
  border-radius: var(--borderRadius);
  --accentColor: white;
  --greyText: rgb(255 255 255 / 45%);
  height: 100%;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

m-tab {
  --varCascading: 0;
  background-color: var(--dialogueColor);
  --greyText: rgb(255 255 255 / 70%);
}

.non-mInput {
  background-color: var(--dialogueColor);
  width: 100%;
  border: 5px solid var(--accentColor);
  border-radius: var(--borderRadius);
  color: white;
  padding: var(--contentSpacing);
}

.requirementWrap {
  display: flex;
  align-items: center;
  gap: var(--contentSpacing);
}
